<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>ae45b69aaccb8ca4d719</string>
	<key>client_secret</key>
	<string>01f5ef257c31a02ca3627c194f57aec585744807</string>
</dict>
</plist>
